*~
*.o
.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
cmail
config.h
config.log
config.status
configure
copyright.info
config.h.in
depcomp
mdate-sh
missing
parser.c
stamp-h
stamp-h1
stamp-vti
texinfo.tex
version.texi
xboard
xboard.info
xboard.man
ylwrap