*~
*.o
.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
cmail
./config.h
config.log
config.status
configure
copyright.info
config.h.in
depcomp
mdate-sh
missing
./parser.c
po/*gmo
po/POTFILES
po/stamp-po
stamp-h
stamp-h1
stamp-vti
texinfo.tex
version.texi
xboard
xboard.info
xboard.man
ylwrap
config.guess
config.h
config.sub
copyright.aux
copyright.cp
copyright.dvi
copyright.fn
copyright.ky
copyright.log
copyright.pg
copyright.tp
copyright.vr
parser.c
xboard.aux
xboard.cp
xboard.cps
xboard.fn
xboard.ky
xboard.log
xboard.pdf
xboard.pg
xboard.toc
xboard.tp
xboard.vr

