[Desktop Entry]
Name=Xboard
Name[af]=X-bord
Name[ar]=Xboard
Name[bg]=Xboard
Name[bn]=এক্সবোর্ড
Name[cs]=Xboard
Name[da]=Xboard
Name[de]=Xboard
Name[el]=Xboard
Name[es]=Xboard
Name[et]=Xboard
Name[fi]=XBoard
Name[fr]=XBoard
Name[gl]=Xboard
Name[hi]=एक्सबोर्ड
Name[hr]=Xboard
Name[hu]=XBoard
Name[it]=XBoard
Name[ja]=Xboard
Name[km]=XBoard
Name[ko]=X보드
Name[lt]=Xboard
Name[mr]=Xबोर्ड
Name[nb]=Xboard
Name[nl]=Xboard
Name[pa]=Xboard
Name[pl]=Xboard
Name[pt]=Xboard
Name[pt_BR]=Xboard
Name[ru]=Xboard
Name[sk]=Xboard
Name[sv]=Xboard
Name[ta]=பெயர்(எக்ஸ்போர்ட்.டெஸ்க்டாப்): எக்ஸ்போர்ட்
Name[th]=Xboard
Name[tr]=XBoard
Name[uk]=Xboard
Name[vi]=XBoard
Name[xh]=Ibhodi ye-X
Name[zh_CN]=X 国际象棋
Name[zh_TW]=Xboard 國際象棋
Name[zu]=I-Xboard
Comment=Chess Game
Comment[af]=Skaak Speletjie
Comment[ar]=لعبة الشطرنج
Comment[bg]=Шах
Comment[bn]=দাবা
Comment[bs]=Igra šaha
Comment[ca]=Joc d'escacs
Comment[cs]=Šachy
Comment[cy]=Gêm Gwyddbwyll
Comment[da]=Skakspil
Comment[de]=Schachspiel
Comment[el]=Παιχνίδι Σκάκι
Comment[es]=Juego de ajedrez
Comment[et]=Male
Comment[fi]=Shakkipeli
Comment[fr]=Jeu d'échecs
Comment[gl]=Xogo de Xadrez
Comment[he]=משחק שחמט
Comment[hi]=शतरंज का खेल
Comment[hr]=Šah
Comment[hu]=sakk
Comment[id]=Permainan Catur
Comment[it]=Gioco di scacchi
Comment[ja]=チェスゲーム
Comment[ka]=ჭადრაკი
Comment[km]=ល្បែង​អុក
Comment[ko]=체스 게임
Comment[lo]=ເກມຫມາກລຸກ
Comment[lt]=Šachmatai
Comment[mk]=Шаховска игра
Comment[mr]=बुद्धिबळाचा खेळ
Comment[nb]=Sjakkspill
Comment[nl]=Schaakspel
Comment[pa]=ਸਤਰੰਜ਼ ਖੇਡ
Comment[pl]=Szachy
Comment[pt]=Jogo de Xadrez
Comment[pt_BR]=Jogo de Xadrez
Comment[ro]=Un joc de șah
Comment[ru]=Шахматы
Comment[sk]=Šach
Comment[sl]=Igra šaha
Comment[sr]=Шах
Comment[sr@Latn]=Шах
Comment[sv]=Schackspel
Comment[ta]=இனப்பெயர்(எக்ஸ்போர்ட்.டெஸ்க்டாப்): சதுரங்க விளையாட்டு
Comment[th]=เกมหมากรุก
Comment[tr]=Satranç oyunu
Comment[uk]=Шахи
Comment[vi]=Cờ
Comment[wa]=Djeu d' echeks
Comment[xh]=Umdlalo we Chess
Comment[zh_CN]=国际象棋游戏
Comment[zh_TW]=棋類遊戲
Comment[zu]=Umdlalo we-Chess
GenericName=Chess Game
GenericName[af]=Skaak Speletjie
GenericName[ar]=لعبة الشطرنج
GenericName[bg]=Шах
GenericName[bn]=দাবা
GenericName[bs]=Igra šaha
GenericName[ca]=Joc d'escacs
GenericName[cs]=Šachy
GenericName[cy]=Gêm Gwyddbwyll
GenericName[da]=Skakspil
GenericName[de]=Schachspiel
GenericName[el]=Παιχνίδι Σκάκι
GenericName[es]=Juego de ajedrez
GenericName[et]=Male
GenericName[fi]=Shakkipeli
GenericName[fr]=Jeu d'échecs
GenericName[gl]=Xogo de Xadrez
GenericName[he]=משחק שחמט
GenericName[hi]=शतरंज का खेल
GenericName[hr]=Šah
GenericName[hu]=sakk
GenericName[id]=Permainan Catur
GenericName[it]=Gioco di scacchi
GenericName[ja]=チェスゲーム
GenericName[ka]=ჭადრაკი
GenericName[km]=ល្បែង​អុក
GenericName[ko]=체스 게임
GenericName[lo]=ເກມຫມາກລຸກ
GenericName[lt]=Šachmatai
GenericName[mk]=Шаховска игра
GenericName[mr]=बुद्धिबळाचा खेळ
GenericName[nb]=Sjakkspill
GenericName[nl]=Schaakspel
GenericName[pa]=ਸਤਰੰਜ਼ ਖੇਡ
GenericName[pl]=Szachy
GenericName[pt]=Jogo de Xadrez
GenericName[pt_BR]=Jogo de Xadrez
GenericName[ro]=Un joc de șah
GenericName[ru]=Шахматы
GenericName[sk]=Šach
GenericName[sl]=Igra šaha
GenericName[sr]=Шах
GenericName[sr@Latn]=Шах
GenericName[sv]=Schackspel
GenericName[ta]=இனப்பெயர்(எக்ஸ்போர்ட்.டெஸ்க்டாப்): சதுரங்க விளையாட்டு
GenericName[th]=เกมหมากรุก
GenericName[tr]=Satranç oyunu
GenericName[uk]=Шахи
GenericName[vi]=Cờ
GenericName[wa]=Djeu d' echeks
GenericName[xh]=Umdlalo we Chess
GenericName[zh_CN]=国际象棋游戏
GenericName[zh_TW]=棋類遊戲
GenericName[zu]=Umdlalo we-Chess
Type=Application
Categories=Game;BoardGame;
Exec=xboard
Icon=xboard
